.login-page {
    margin: 0 auto;
    height: 500px;
    background-color: rgb(70, 66, 66);
    display: flex;
    justify-content: center;
    align-items: center;
    &__form {
        width: auto;
        height: auto;
        &__username {
            margin-bottom: 5px;
            color: wheat;
            font: 1.3em monospace;
            font-weight: bolder;
            input {
                color: wheat;
                font: 1.1em monospace;
                background-color: transparent;
                border: 0;
                border-bottom: 3px solid gray;
                outline: none;
            }
        }
        &__password {
            margin-bottom: 5px;
            color: wheat;
            font: 1.3em monospace;
            font-weight: bolder;
            input {
                color: wheat;
                font: 1.1em monospace;
                background-color: transparent;
                border: 0;
                border-bottom: 3px solid gray;
                outline: none;
            }
        }
        &__submit {
            float: right;
            margin:10px auto;
            padding: 5px 15px;
            color: wheat;
            background-color: rgb(70, 66, 66);
            font: 1.2em monospace;
        }
    }
}



